numpy
pandas
scipy
xarray
netcdf4
h5py
h5netcdf
zarr
numcodecs
gsw
geopy
scikit-learn
matplotlib
seaborn
requests
graphviz
polars
geodatasets
shapely
geopandas
pvlib
tqdm
glidertools
ipykernel
pytest
rstcloth
cartopy
pyyaml
cc-plugin-ncei
cc-plugin-og